/* 
    Document   : style
    Created on : Mar 5, 2013, 2:32:19 PM
    Author     : Mike
    Description:
        Purpose of the stylesheet follows.
*/

body {
    display: block;
    background-color:#50EBEC;  
}

#logo {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

